<div class="reservation">
    <a href="reservation">
        <div class="border">
            <div class="face">
                <img src="{{assetsUrl('asset/site/images/user.png')}}" alt="">
            </div>
            <div class="text-center">
                <h4>سید حسین سعیدی</h4>
                <p>مشاور آنی مشاور</p>
            </div>
        </div>
    </a>
</div>
