@layout('layout/site/main')
@section('content')

    @include('layout/site/blocks/slider')
    @include('layout/site/blocks/services')
    @include('layout/site/blocks/subjects')
    @include('layout/site/blocks/animoshaver')
    @include('layout/site/blocks/advice')
    @include('layout/site/blocks/animation')
    
@endsection